.bio {
    width: 100%;
    background-position: 15% 0%;
    z-index: 11;

    @media screen and (min-width: $query__small) {
        background: url("../img/FullBodyTie.jpg") no-repeat fixed #000;
    }

    @media screen and (min-width: $query__large) {
        background: url("../img/full_body_vest.jpg") no-repeat fixed #000;
    }

    section {

        @media screen and (min-width: $query__large) {
            padding: 5em ;
        }

        h2 {
            text-align: center;
        }

        h2::before, h2::after {
            display: inline-block;
            width: 25%;
        }

        .bio-note {
            background: rgba(249, 249, 249, .7);
            border: 1px solid $backgroundWhite;

            @media screen and (min-width: $query__small) {
                padding: 3em;
                border-radius: 0;
                margin: 3em auto 0;
            }

            @media screen and (min-width: $query__small) {
                padding: 5em;
            }

            @media screen and (min-width: $query__large) {
                padding: 1em;
                border-radius: 10px;
                margin: 7em auto;
            }
        }
    }
}