.contact {
    position: relative;
    background-color: #000;
    color: $textWhite;
    width: 100%;
    padding: 5em 0;
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    .contact_content {
        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }

    article {
        float: left;
        padding: 1%;
        overflow: hidden;

        @media screen and (min-width: $query__small) {
            width: 95%;
            padding: 10% 2% 0;
            height: 35em;
        }

        @media screen and (min-width: $query__medium) {
            width: 43%;
            padding: 5% 3% 0;
            height: 32em;
        }
    }

    .reps {
        img{
            background-color: #fff;
            padding: 0.15em;
            border-radius: 10px;
            width: 75%;
        }

        p {
            padding: 1em 0;
        }
    }

    .igWidget {
        iframe {
            width: 100%; 
            border: 0; 
            overflow: hidden;
            height: 100%;
        }
    }

    .social_media_div {
        width: 100%;
        height: 6em;
        text-align: center;
        margin: 2em auto 0;
        
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        
        .facebook,
        .twitter,
        .instagram {
            display: inline-block;
            background-image: url('../img/social-media-icons.jpg');
            background-repeat: no-repeat;
            height: 100%;
            width: 5.5em;
            cursor: pointer;
            margin: 0 1% 1%;
            border-radius: 10px;
        }
        
        .facebook {
            background-position: -5px -101px;
        }
        
        .twitter {
            background-position: -105px -101px;
        }
        
        .instagram {
            background-position: -305px -101px;
        }

        .imdbImg {
            display: inline-block;
            background-image: url('../img/imdbImg.png');
            background-repeat: no-repeat;
            height: 100%;
            width: 5.9em;
            cursor: pointer;
            margin: 0 1% 1%;
            border-radius: 10px;
            background-position: 0 0;
        }
    }
}