.container {
    margin: 0 auto;
    max-width: 1200px;

    @media screen and (min-width: $query__small) {
        width: 100%;
    }

    @media screen and (min-width: $query__large) {
        width: 75%;
    }

    &:after {
        content:'';
        display:table;
        clear: both;
    }
}

a {
    text-decoration: none;
}

.main {
    width: 100%;
    @media screen and (min-width: $query__small) {
        margin-top: 10%;
    }

    @media screen and (min-width: $query__medium) {
        margin-top: 0;
    }

    @media screen and (min-width: $query__large) {
        margin: 0;
    }
}