@media screen and (min-width: $query__small) {

    .home {
        width: 100%;

        .demoReel {
            background-color: #000;
        }

        .mobileSlide {
            .fullBodyImage img {
                width: 100%;
            }
        }

        .branding {
            margin: 0 auto;
            font-size: 3.2em;
            position: absolute;
            bottom: 0em;
            width: 100%;
            letter-spacing: 0.11em;
            text-align: center;
            color: $textWhite;
            background-color: $backgroundBlue;
        }
    }
}

@media screen and (min-width: $query__small){
    .home {
        padding: 3em 0 0;
    }

    .demoReel {
        display: none;
    }

    .branding {
        margin: 0 auto;
        font-size: 3.2em;
        position: absolute;
        bottom: 0em;
        width: 100%;
        letter-spacing: 0.11em;
        text-align: center;
        color: $textWhite;
        background-color: $backgroundBlue;
    }
}

@media screen and (min-width: $query__medium){
    .demoReel {
        display: block;
    }

    .mobileSlide {
        display: none;
    }

    .branding {
        margin: 0 auto;
        text-align: center;
        letter-spacing: 0.11em;   
    }
}

@media screen and (min-width: $query__large) {

    .home {
        height: 100vh;

        video {
            display: block;
            position: fixed;
            z-index: -1;
            top: 0em;
            bottom: 0em;
        }

        .mobileSlide {
            display: none;
        }

        .branding {
            width: 100%;
            letter-spacing: .1em;
            font-size: 4em;
            margin: 0 auto;
        }
    }
}