.photo {
    background-color: $backgroundGrey;
    padding: 5em 0;
}
.photoContent  {
    width: 100%;
    text-align: center;
    &:after {
        content: '';
        display: table;
        clear: both;
    }

    
    @media screen and (min-width: $query__small) {
        margin-top: 2em;
    }

    .photoDiv {
        float: left;
        position: relative;
        background-color: $backgroundWhite;
        padding: 1%;
        
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        
        img {
            width: 100%;
            max-width: 17em;
            vertical-align: middle;
        }

        @media screen and (min-width: $query__small) {
            width: 98%;
            margin: 3% auto;
        }

        @media screen and (min-width: $query__medium) {
            width: 44%;
            margin: 2%;
            border-radius: 10px;
            height: 26em;
        }

        @media screen and (min-width: $query__large) {
            width: 29%;
            margin: 1%;
        }
    }
}