.photoContent  {
    width: 100%;
    text-align: center;
    @media screen and (min-width: $query__small) {
        margin-top: 2em;
    }

    .photoDiv {
        float: left;
        height: 25em;
        position: relative;
        
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        
        img {
            width: 100%;
            max-width: 17em;
            vertical-align: middle;
        }

        @media screen and (min-width: $query__small) {
            width: 98%;
            margin: 3% 1%;
        }

        @media screen and (min-width: $query__medium) {
            width: 46%;
            margin: 2%;

        }

        @media screen and (min-width: $query__large) {
            width: 30%;
            margin: 1%;
        }
    }
}