@import url('https://fonts.googleapis.com/css?family=Cantarell'); //Import Cantarell Font
@import url('https://fonts.googleapis.com/css?family=Actor'); //Import Actor Font
@import url('https://fonts.googleapis.com/css?family=Cinzel'); //Import Cinzel Font

$textGrey: rgb(175, 175, 175);                // Text Light Grey
$backgroundGrey: rgba(175, 175, 175, .9);     // Background Light Grey
$textBlue: rgb(33, 31, 138);                  // Text Blue Colors
$backgroundBlue: rgba(33, 31, 138, .9);       // Background Blue With Opacity
$textWhite: rgb(240,240,240);                 // Text White
$backgroundWhite: rgba(240,240,240, .9);      // Background White
$textColor: rgb(0, 0, 0);                     // Black Text Color